In [51]:
import pandas as pd
data = pd.read_csv(r'personal_transactions.csv')
data.head()

,Date,Description,Amount,Transaction Type,Category,Account Name
0,01-01-2018,Amazon,11.11,debit,Shopping,Platinum Card
1,01-02-2018,Mortgage Payment,1247.44,debit,Home Improvement,Checking
2,01-02-2018,Thai Foods,24.22,debit,Foods,Silver Card
3,01-03-2018,Credit Card Payment,2298.09,credit,Credit Card Payment,Platinum Card
4,01-04-2018,Netflix,11.76,debit,Entertainment,Platinum Card

In [52]:
data.describe()

            Amount
count   806.000000
mean    273.391489
std     667.630374
min       1.750000
25%      15.687500
50%      37.480000
75%     117.680000
max    9200.000000

In [53]:
data['Category'].unique()

array(['Shopping', 'Home Improvement', 'Foods', 'Credit Card Payment',
       'Entertainment', 'Misc', 'Groceries', 'Paycheck'], dtype=object)

In [54]:
category = data['Category'].unique()
print(category)

['Shopping' 'Home Improvement' 'Foods' 'Credit Card Payment'
 'Entertainment' 'Misc' 'Groceries' 'Paycheck']

In [55]:
n = len(category)
data_cat = []
for i in range(n):
    data_cat.append(data[:][data['Category']==category[i]])
print(data_cat)

[           Date Description  Amount Transaction Type  Category   Account Name
0    01-01-2018      Amazon   11.11            debit  Shopping  Platinum Card
15   01/13/2018      Amazon   39.05            debit  Shopping  Platinum Card
21   01/20/2018      Amazon   50.21            debit  Shopping  Platinum Card
33   02-01-2018      Amazon   11.11            debit  Shopping  Platinum Card
66   03-01-2018      Amazon   13.13            debit  Shopping  Platinum Card
84   03/13/2018      Amazon   45.75            debit  Shopping  Platinum Card
94   03/20/2018      Amazon   14.97            debit  Shopping  Platinum Card
110  04-01-2018      Amazon   13.13            debit  Shopping  Platinum Card
143  04/24/2018      Amazon   41.34            debit  Shopping  Platinum Card
156  05-01-2018      Amazon   13.13            debit  Shopping  Platinum Card
158  05-03-2018      Amazon   49.72            debit  Shopping  Platinum Card
164  05-06-2018      Amazon  117.69            debit  Shopping  Platinum Card
181  05/18/2018      Amazon    6.41            debit  Shopping  Platinum Card
187  05/21/2018      Amazon   32.50            debit  Shopping  Platinum Card
198  06-01-2018      Amazon   13.13            debit  Shopping  Platinum Card
231  06/23/2018      Amazon   74.97            debit  Shopping  Platinum Card
239  07-01-2018      Amazon   13.13            debit  Shopping  Platinum Card
246  07-05-2018      Amazon  212.32            debit  Shopping  Platinum Card
278  08-01-2018      Amazon   13.13            debit  Shopping  Platinum Card
285  08-06-2018      Amazon   76.47            debit  Shopping  Platinum Card
299  08/17/2018      Amazon   14.98            debit  Shopping  Platinum Card
300  08/18/2018      Amazon   23.47            debit  Shopping  Platinum Card
312  09-01-2018      Amazon   13.13            debit  Shopping  Platinum Card
313  09-02-2018      Amazon  109.83            debit  Shopping  Platinum Card
335  09/20/2018      Amazon   47.38            debit  Shopping  Platinum Card
353  10-01-2018      Amazon   13.13            debit  Shopping  Platinum Card
363  10-09-2018      Amazon   19.98            debit  Shopping  Platinum Card
380  10/25/2018      Amazon   29.98            debit  Shopping  Platinum Card
388  11-01-2018      Amazon   13.13            debit  Shopping  Platinum Card
395  11-06-2018      Amazon   53.95            debit  Shopping  Platinum Card
433  12-01-2018      Amazon   13.13            debit  Shopping  Platinum Card
460  12/18/2018      Amazon   49.99            debit  Shopping  Platinum Card
461  12/18/2018      Amazon   41.72            debit  Shopping  Platinum Card
462  12/18/2018      Amazon   24.30            debit  Shopping  Platinum Card
464  12/19/2018      Amazon   43.01            debit  Shopping  Platinum Card
477  12/26/2018      Amazon   44.99            debit  Shopping  Platinum Card
482  01-01-2019      Amazon   13.09            debit  Shopping  Platinum Card
485  01-03-2019      Amazon   42.10            debit  Shopping  Platinum Card
505  01/24/2019      Amazon   11.70            debit  Shopping  Platinum Card
506  01/24/2019      Amazon    4.21            debit  Shopping  Platinum Card
512  02-01-2019      Amazon   13.09            debit  Shopping  Platinum Card
533  02/16/2019      Amazon   37.45            debit  Shopping  Platinum Card
546  03-01-2019      Amazon   13.09            debit  Shopping  Platinum Card
553  03-08-2019      Amazon   27.17            debit  Shopping  Platinum Card
567  03/19/2019      Amazon   13.84            debit  Shopping  Platinum Card
573  03/26/2019      Amazon   16.04            debit  Shopping  Platinum Card
581  04-01-2019      Amazon   13.09            debit  Shopping  Platinum Card
584  04-04-2019      Amazon   35.90            debit  Shopping  Platinum Card
586  04-06-2019      Amazon   27.54            debit  Shopping  Platinum Card
617  05-01-2019      Amazon   13.09            debit  Shopping  Platinum Card
621  05-06-2019      Amazon   16.94            debit  Shopping  Platinum Card
622  05-07-2019      Amazon   38.56            debit  Shopping  Platinum Card
625  05-09-2019      Target    3.20            debit  Shopping  Platinum Card
651  06-01-2019      Amazon   13.09            debit  Shopping  Platinum Card
687  07-01-2019      Amazon   13.09            debit  Shopping  Platinum Card
704  07/16/2019      Amazon   89.99            debit  Shopping  Platinum Card
725  08-01-2019      Amazon   13.09            debit  Shopping  Platinum Card
765  09-01-2019      Amazon   13.09            debit  Shopping  Platinum Card
786  09/15/2019      Amazon   47.66            debit  Shopping  Platinum Card
800  09/23/2019      Amazon   24.63            debit  Shopping  Platinum Card,            Date                        Description   Amount Transaction Type
1    01-02-2018                   Mortgage Payment  1247.44            debit  \
6    01-06-2018                     Hardware Store    18.45            debit
7    01-08-2018                        Gas Company    45.00            debit
8    01-08-2018                     Hardware Store    15.38            debit
18   01/16/2018                 City Water Charges    35.00            debit
..          ...                                ...      ...              ...
777  09-09-2019                     Hardware Store    26.25            debit
779  09-09-2019                        Gas Company    30.00            debit
789  09/16/2019                 City Water Charges    35.00            debit
791  09/17/2019                      Power Company    60.00            debit
805  09/30/2019  Home Improvement Service Provider    75.00            debit

             Category Account Name
1    Home Improvement     Checking
6    Home Improvement  Silver Card
7    Home Improvement     Checking
8    Home Improvement  Silver Card
18   Home Improvement     Checking
..                ...          ...
777  Home Improvement  Silver Card
779  Home Improvement     Checking
789  Home Improvement     Checking
791  Home Improvement     Checking
805  Home Improvement     Checking

[149 rows x 6 columns],            Date      Description  Amount Transaction Type Category
2    01-02-2018       Thai Foods   24.22            debit    Foods  \
5    01-05-2018  American Tavern   25.85            debit    Foods
14   01/13/2018      Pizza Place   32.91            debit    Foods
17   01/15/2018  American Tavern   64.11            debit    Foods
27   01/24/2018        Starbucks    3.00            debit    Foods
..          ...              ...     ...              ...      ...
783  09/13/2019        Starbucks    2.75            debit    Foods
794  09/19/2019  Brewing Company   40.81            debit    Foods
795  09/19/2019        Starbucks    2.75            debit    Foods
797  09/22/2019   SeaFoods Foods  131.10            debit    Foods
804  09/30/2019        Starbucks    1.75            debit    Foods

      Account Name
2      Silver Card
5      Silver Card
14   Platinum Card
17     Silver Card
27   Platinum Card
..             ...
783  Platinum Card
794  Platinum Card
795  Platinum Card
797  Platinum Card
804  Platinum Card

[155 rows x 6 columns],            Date          Description   Amount Transaction Type
3    01-03-2018  Credit Card Payment  2298.09           credit  \
22   01/22/2018  Credit Card Payment   554.99           credit
23   01/22/2018  Credit Card Payment   309.81           credit
24   01/22/2018  Credit Card Payment   554.99            debit
26   01/23/2018  Credit Card Payment   309.81            debit
..          ...                  ...      ...              ...
788  09/16/2019  Credit Card Payment    90.57           credit
790  09/17/2019  Credit Card Payment   186.13           credit
793  09/18/2019  Credit Card Payment  1606.46            debit
796  09/20/2019  Credit Card Payment     9.43           credit
798  09/23/2019  Credit Card Payment     9.43            debit

                Category   Account Name
3    Credit Card Payment  Platinum Card
22   Credit Card Payment  Platinum Card
23   Credit Card Payment    Silver Card
24   Credit Card Payment       Checking
26   Credit Card Payment       Checking
..                   ...            ...
788  Credit Card Payment    Silver Card
790  Credit Card Payment  Platinum Card
793  Credit Card Payment       Checking
796  Credit Card Payment    Silver Card
798  Credit Card Payment       Checking

[143 rows x 6 columns],            Date    Description  Amount Transaction Type       Category
4    01-04-2018        Netflix   11.76            debit  Entertainment  \
10   01-10-2018  Phone Company   89.46            debit  Entertainment
37   02-04-2018        Netflix   11.76            debit  Entertainment
47   02-12-2018  Phone Company   89.52            debit  Entertainment
71   03-04-2018        Netflix   11.76            debit  Entertainment
83   03-12-2018  Phone Company   89.52            debit  Entertainment
116  04-03-2018   Amazon Video    6.41            debit  Entertainment
119  04-04-2018        Netflix   11.76            debit  Entertainment
126  04-11-2018  Phone Company   89.52            debit  Entertainment
160  05-04-2018        Netflix   11.76            debit  Entertainment
169  05-10-2018  Phone Company  111.18            debit  Entertainment
192  05/28/2018  Movie Theater    9.62            debit  Entertainment
194  05/29/2018  Movie Theater   20.00            debit  Entertainment
195  05/29/2018  Movie Theater    6.25            debit  Entertainment
205  06-04-2018        Netflix   11.76            debit  Entertainment
214  06-12-2018  Phone Company   89.46            debit  Entertainment
241  07-02-2018  Movie Theater   25.00            debit  Entertainment
244  07-04-2018        Netflix   11.76            debit  Entertainment
247  07-06-2018   Amazon Video    6.41            debit  Entertainment
256  07-11-2018  Phone Company   89.46            debit  Entertainment
284  08-04-2018        Netflix   11.76            debit  Entertainment
288  08-10-2018  Phone Company   89.40            debit  Entertainment
317  09-04-2018        Netflix   11.76            debit  Entertainment
324  09-12-2018  Phone Company   89.40            debit  Entertainment
357  10-04-2018        Netflix   11.76            debit  Entertainment
366  10-11-2018  Phone Company   89.40            debit  Entertainment
393  11-04-2018        Netflix   11.76            debit  Entertainment
408  11/13/2018  Phone Company   89.54            debit  Entertainment
425  11/27/2018  Movie Theater   17.00            debit  Entertainment
439  12-04-2018        Netflix   11.76            debit  Entertainment
448  12-12-2018  Phone Company   89.54            debit  Entertainment
495  01-10-2019  Phone Company   65.00            debit  Entertainment
524  02-12-2019  Phone Company   65.00            debit  Entertainment
556  03-12-2019  Phone Company   65.00            debit  Entertainment
592  04-10-2019  Phone Company   65.00            debit  Entertainment
628  05-10-2019  Phone Company   65.00            debit  Entertainment
665  06-12-2019  Phone Company   65.00            debit  Entertainment
701  07-10-2019  Phone Company   65.00            debit  Entertainment
741  08-12-2019  Phone Company   65.00            debit  Entertainment
781  09-11-2019  Phone Company   65.00            debit  Entertainment

      Account Name
4    Platinum Card
10        Checking
37   Platinum Card
47        Checking
71   Platinum Card
83        Checking
116  Platinum Card
119  Platinum Card
126       Checking
160  Platinum Card
169       Checking
192    Silver Card
194    Silver Card
195    Silver Card
205  Platinum Card
214       Checking
241    Silver Card
244  Platinum Card
247  Platinum Card
256       Checking
284  Platinum Card
288       Checking
317  Platinum Card
324       Checking
357  Platinum Card
366       Checking
393  Platinum Card
408       Checking
425    Silver Card
439  Platinum Card
448       Checking
495       Checking
524       Checking
556       Checking
592       Checking
628       Checking
665       Checking
701       Checking
741       Checking
781       Checking  ,            Date Description  Amount Transaction Type Category   Account Name
9    01-09-2018     Spotify   10.69            debit     Misc  Platinum Card
11   01-11-2018       Shell   34.87            debit     Misc  Platinum Card
29   01/29/2018       Shell   30.42            debit     Misc    Silver Card
42   02-09-2018  Barbershop   30.00            debit     Misc  Platinum Card
43   02-09-2018     Spotify   10.69            debit     Misc  Platinum Card
..          ...         ...     ...              ...      ...            ...
775  09-09-2019       Shell   28.77            debit     Misc  Platinum Card
778  09-09-2019     Spotify   10.69            debit     Misc  Platinum Card
792  09/18/2019  State Farm   75.00            debit     Misc       Checking
802  09/28/2019          BP   33.46            debit     Misc  Platinum Card
803  09/28/2019      Sheetz    4.27            debit     Misc  Platinum Card

[108 rows x 6 columns],            Date    Description  Amount Transaction Type   Category
12   01-11-2018  Grocery Store   43.54            debit  Groceries  \
16   01/15/2018  Grocery Store   44.19            debit  Groceries
32   02-01-2018  Grocery Store   27.79            debit  Groceries
54   02/20/2018  Grocery Store   35.95            debit  Groceries
65   03-01-2018  Grocery Store   32.07            debit  Groceries
..          ...            ...     ...              ...        ...
738  08-08-2019  Grocery Store   11.72            debit  Groceries
749  08/17/2019  Grocery Store   33.15            debit  Groceries
776  09-09-2019  Grocery Store   65.09            debit  Groceries
785  09/14/2019  Grocery Store   46.44            debit  Groceries
799  09/23/2019  Grocery Store   27.71            debit  Groceries

      Account Name
12   Platinum Card
16     Silver Card
32   Platinum Card
54     Silver Card
65     Silver Card
..             ...
738    Silver Card
749  Platinum Card
776    Silver Card
785  Platinum Card
799  Platinum Card

[105 rows x 6 columns],            Date        Description  Amount Transaction Type  Category
13   01-12-2018  Biweekly Paycheck  2000.0           credit  Paycheck  \
20   01/19/2018  Biweekly Paycheck  2000.0           credit  Paycheck
35   02-02-2018  Biweekly Paycheck  2000.0           credit  Paycheck
51   02/16/2018  Biweekly Paycheck  2000.0           credit  Paycheck
68   03-02-2018  Biweekly Paycheck  2000.0           credit  Paycheck
89   03/16/2018  Biweekly Paycheck  2000.0           credit  Paycheck
104  03/30/2018  Biweekly Paycheck  2000.0           credit  Paycheck
130  04/13/2018  Biweekly Paycheck  2000.0           credit  Paycheck
150  04/27/2018  Biweekly Paycheck  2000.0           credit  Paycheck
171  05-11-2018  Biweekly Paycheck  2000.0           credit  Paycheck
191  05/25/2018  Biweekly Paycheck  2000.0           credit  Paycheck
207  06-08-2018  Biweekly Paycheck  2000.0           credit  Paycheck
229  06/22/2018  Biweekly Paycheck  2000.0           credit  Paycheck
248  07-06-2018  Biweekly Paycheck  2000.0           credit  Paycheck
267  07/20/2018  Biweekly Paycheck  2000.0           credit  Paycheck
283  08-03-2018  Biweekly Paycheck  2000.0           credit  Paycheck
298  08/17/2018  Biweekly Paycheck  2000.0           credit  Paycheck
310  08/31/2018  Biweekly Paycheck  2000.0           credit  Paycheck
327  09/14/2018  Biweekly Paycheck  2000.0           credit  Paycheck
347  09/28/2018  Biweekly Paycheck  2000.0           credit  Paycheck
367  10-12-2018  Biweekly Paycheck  2000.0           credit  Paycheck
381  10/26/2018  Biweekly Paycheck  2000.0           credit  Paycheck
399  11-09-2018  Biweekly Paycheck  2000.0           credit  Paycheck
422  11/23/2018  Biweekly Paycheck  2000.0           credit  Paycheck
444  12-07-2018  Biweekly Paycheck  2000.0           credit  Paycheck
468  12/21/2018  Biweekly Paycheck  2000.0           credit  Paycheck
486  01-04-2019  Biweekly Paycheck  2000.0           credit  Paycheck
501  01/18/2019  Biweekly Paycheck  2000.0           credit  Paycheck
510  02-01-2019  Biweekly Paycheck  2000.0           credit  Paycheck
529  02/15/2019  Biweekly Paycheck  2000.0           credit  Paycheck
545  03-01-2019  Biweekly Paycheck  2000.0           credit  Paycheck
563  03/15/2019  Biweekly Paycheck  2000.0           credit  Paycheck
576  03/29/2019  Biweekly Paycheck  2000.0           credit  Paycheck
595  04-12-2019  Biweekly Paycheck  2000.0           credit  Paycheck
610  04/26/2019  Biweekly Paycheck  2000.0           credit  Paycheck
629  05-10-2019  Biweekly Paycheck  2000.0           credit  Paycheck
643  05/24/2019  Biweekly Paycheck  2000.0           credit  Paycheck
662  06-07-2019  Biweekly Paycheck  2000.0           credit  Paycheck
679  06/21/2019  Biweekly Paycheck  2000.0           credit  Paycheck
692  07-05-2019  Biweekly Paycheck  2250.0           credit  Paycheck
713  07/19/2019  Biweekly Paycheck  2250.0           credit  Paycheck
727  08-02-2019  Biweekly Paycheck  2250.0           credit  Paycheck
746  08/16/2019  Biweekly Paycheck  2250.0           credit  Paycheck
762  08/30/2019  Biweekly Paycheck  2250.0           credit  Paycheck
784  09/13/2019  Biweekly Paycheck  2250.0           credit  Paycheck
801  09/27/2019  Biweekly Paycheck  2250.0           credit  Paycheck

    Account Name
13      Checking
20      Checking
35      Checking
51      Checking
68      Checking
89      Checking
104     Checking
130     Checking
150     Checking
171     Checking
191     Checking
207     Checking
229     Checking
248     Checking
267     Checking
283     Checking
298     Checking
310     Checking
327     Checking
347     Checking
367     Checking
381     Checking
399     Checking
422     Checking
444     Checking
468     Checking
486     Checking
501     Checking
510     Checking
529     Checking
545     Checking
563     Checking
576     Checking
595     Checking
610     Checking
629     Checking
643     Checking
662     Checking
679     Checking
692     Checking
713     Checking
727     Checking
746     Checking
762     Checking
784     Checking
801     Checking  ]

In [39]:
prevcat1 = []
prevcat2 = []
prevcat3 = []
prevcat4 = []
prevcat5 = []
cat = []
preval1 = []
preval2 = []
preval3 = []
preval4 = []
preval5 = []
val = []

In [40]:
count = 806

In [41]:
pretype1 = []
pretype2 = []
pretype3 = []

In [42]:
tpe = []

In [43]:
for index in range(count):
    if index>3:        
        prevcat1.append(data['Category'][index-3])        
        prevcat2.append(data['Category'][index-2])        
        prevcat3.append(data['Category'][index-1])        
        preval1.append(data['Amount'][index-3])
        preval2.append(data['Amount'][index-2])        
        preval3.append(data['Amount'][index-1]) 
        pretype1.append(data['Transaction Type'][index-3])
        pretype2.append(data['Transaction Type'][index-2])
        pretype3.append(data['Transaction Type'][index-1])
        tpe.append(data['Transaction Type'][index])
        cat.append(data['Category'][index])
        val.append(data['Amount'][index])

In [44]:
df = pd.DataFrame(columns = ['precat1','precat2','precat3','preval1','preval2','preval3','pretype1','pretype2','pretype3','type','cat','val'])
for i in range(len(prevcat1)):
    row = {'precat1':prevcat1[i],'precat2':prevcat2[i],'precat3':prevcat3[i],'preval1':preval1[i],'preval2':preval2[i],'preval3':preval3[i],'pretype1':pretype1[i],'pretype2':pretype2[i],'pretype3':pretype3[i],'type':tpe[i],'cat':cat[i],'val':val[i]}
    df = df.append(row , ignore_index = True)
    
df.head()

AttributeError: 'DataFrame' object has no attribute 'append'

In [45]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Load the dataset
# data = pd.read_csv("transactions.csv")

# Extract the features and target variables
X = data[['Amount', 'Transaction Type', 'Category', 'Account Name']]
y_category = data['Category']
y_price = data['Amount']

# Encode the categorical features
X = pd.get_dummies(X, columns=['Transaction Type', 'Category', 'Account Name'])

# Split the dataset into training and testing sets
X_train, X_test, y_train_category, y_test_category, y_train_price, y_test_price = train_test_split(X, y_category, y_price, test_size=0.3, random_state=42)

# Train the category prediction model using RandomForestClassifier
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train_category)

# Train the price prediction model using LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train_price)

from sklearn.metrics import classification_report, accuracy_score

# Make predictions on the test set
y_pred_category = clf.predict(X_test)

# Evaluate the accuracy of the category prediction model
print(f"Accuracy score: {accuracy_score(y_test_category, y_pred_category)}")
print("Classification report:")
print(classification_report(y_test_category, y_pred_category))

from sklearn.metrics import r2_score

# Make predictions on the test set
y_pred_price = reg.predict(X_test)

# Evaluate the accuracy of the price prediction model
print(f"R-squared score: {r2_score(y_test_price, y_pred_price)}")

Accuracy score: 1.0
Classification report:
                     precision    recall  f1-score   support

     Auto Insurance       1.00      1.00      1.00         5
Credit Card Payment       1.00      1.00      1.00        37
      Entertainment       1.00      1.00      1.00         6
              Foods       1.00      1.00      1.00        50
          Groceries       1.00      1.00      1.00        33
   Home Improvement       1.00      1.00      1.00        38
               Misc       1.00      1.00      1.00        25
       Mobile Phone       1.00      1.00      1.00         5
    Mortgage & Rent       1.00      1.00      1.00         7
           Paycheck       1.00      1.00      1.00        10
           Shopping       1.00      1.00      1.00        26

           accuracy                           1.00       242
          macro avg       1.00      1.00      1.00       242
       weighted avg       1.00      1.00      1.00       242

R-squared score: 1.0

In [46]:

print(clf.predict(X_test)[0])
print(reg.predict(X_test)[0])

Credit Card Payment
305.2799999999999

In [56]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, mean_squared_error
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM
from statsmodels.tsa.arima.model import ARIMA
models = {}


for df in data_cat:
# Load the dataset
# df = pd.read_csv('transactions.csv')
    # df = data
    # Preprocess the data
    le = LabelEncoder()
    # df['Category'] = le.fit_transform(df['Category'])
    df['Transaction Type'] = le.fit_transform(df['Transaction Type'])
    # df['Account Name'] = le.fit_transform(df['Account Name'])
    X = df[['Amount', 'Transaction Type']].values
    y_price = df['Amount'].values
    # y_cat = df['Category'].values

    # Split the data into training and testing sets
    X_train, X_test, y_price_train, y_price_test = X[:-10],X[-10:], y_price[:-10],y_price[-10:]

    # # Scale the data
    # sc = StandardScaler()
    # X_train = sc.fit_transform(X_train)
    # X_test = sc.transform(X_test)

    # # Train the ARIMA model
    arima = ARIMA(y_price_train, order=(1, 1, 0))
    arima_fit = arima.fit()
    models[df['Category'].unique()[0]]=arima_fit
    # Predict the price using the ARIMA model
    y_price_pred = arima_fit.predict(start=len(y_price_train), end=len(y_price_train) + len(y_price_test) - 1, typ='levels')

    # # Train the LSTM model
    # lstm = Sequential()
    # lstm.add(LSTM(units=50, activation='relu', input_shape=(X_train.shape[0],X_train.shape[1] )))
    # lstm.add(Dense(units=1))
    # lstm.compile(optimizer='adam', loss='mean_squared_error')
    # X_cat_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
    # X_cat_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))
    # lstm.fit(X_cat_train, y_cat_train, epochs=100, batch_size=32)

    # # Predict the category using the LSTM model
    # y_cat_pred = lstm.predict(X_cat_test)
    # y_cat_pred = y_cat_pred.argmax(axis=1)

    # Evaluate the models
    print("test",y_price_test)
    print("pred",y_price_pred)
    print(df['Category'].unique()[0],'ARIMA RMSE:', mean_squared_error(y_price_test, y_price_pred, squared=False))
    # print('LSTM Accuracy:', accuracy_score(y_cat_test, y_cat_pred))

test [16.94 38.56  3.2  13.09 13.09 89.99 13.09 13.09 47.66 24.63]
pred [22.65769534 16.32269229 20.5172514  17.73993211 19.57886255 18.36126212
 19.16746488 18.63365849 18.98710465 18.75307938]
Shopping ARIMA RMSE: 26.354925988685448
test [  66.75   75.     68.04 1100.     13.9    26.25   30.     35.     60.
   75.  ]
pred [47.52292451 41.24997898 44.39220392 42.81821009 43.60665032 43.21170722
 43.40954093 43.31044266 43.36008267 43.33521715]
Home Improvement ARIMA RMSE: 335.02237368342713
test [ 41.78  41.24   3.75  12.87  19.3    2.75  40.81   2.75 131.1    1.75]
pred [2.89239047 2.81129029 2.85748186 2.8311729  2.84615748 2.83762284
 2.84248384 2.8397152  2.84129211 2.84039396]
Foods ARIMA RMSE: 46.10243875764455
test [1390.37  502.75  360.56  360.56   90.57   90.57  186.13 1606.46    9.43
    9.43]
pred [1341.77053013 1358.47190527 1352.7324202  1354.704814   1354.02699408
 1354.25992923 1354.17988027 1354.20738937 1354.19793577 1354.20118453]
Credit Card Payment ARIMA RMSE: 1046.201221830031
test [89.54 65.   65.   65.   65.   65.   65.   65.   65.   65.  ]
pred [16.04648994 12.54000215 15.40842288 13.0619617  14.98144304 13.41124505
 14.69571793 13.64497746 14.50451724 13.80138583]
Entertainment ARIMA RMSE: 53.677219024474745
test [36.36 10.69 19.   75.   34.69 28.77 10.69 75.   33.46  4.27]
pred [33.17916236 31.60485188 32.38444512 31.99839317 32.18956479 32.09489725
 32.1417763  32.11856195 32.13005762 32.124365  ]
Misc ARIMA RMSE: 23.60035649688189
test [87.14 29.83  5.35 15.77  3.96 11.72 33.15 65.09 46.44 27.71]
pred [95.824814   94.57782375 95.12442704 94.88483002 94.98985451 94.94381828
 94.96399771 94.9551523  94.95902958 94.95733002]
Groceries ARIMA RMSE: 67.37072536093403
test [2000. 2000. 2000. 2250. 2250. 2250. 2250. 2250. 2250. 2250.]
pred [2000. 2000. 2000. 2000. 2000. 2000. 2000. 2000. 2000. 2000.]
Paycheck ARIMA RMSE: 209.16500663351889

C:\Users\hp\.conda\envs\tf-gpu\lib\site-packages\statsmodels\base\model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [57]:
print(models.keys())
print(len(models))

dict_keys(['Shopping', 'Home Improvement', 'Foods', 'Credit Card Payment', 'Entertainment', 'Misc', 'Groceries', 'Paycheck'])
8

In [58]:
for data in data_cat:
    print(data['Category'].unique()[0]," : ",len(data))

Shopping  :  60
Home Improvement  :  149
Foods  :  155
Credit Card Payment  :  143
Entertainment  :  40
Misc  :  108
Groceries  :  105
Paycheck  :  46

In [8]:
import pandas as pd

# Load the original dataset
# df = pd.read_csv('dataset.csv')

# Create a new dataframe to store the previous 30 entries for each row
new_df = pd.DataFrame()

# Loop over each row in the original dataframe
for i in range(len(df)):
    # Get the date of the current row
    current_date = pd.to_datetime(df.loc[i, 'Date'], format='%m/%d/%Y')
    
    # Get the previous 30 dates
    prev_dates = pd.date_range(current_date - pd.Timedelta(days=30), current_date - pd.Timedelta(days=1), freq='D')
    
    # Filter the original dataframe to get the previous 30 entries
    prev_entries = df[(pd.to_datetime(df['Date'], format='%m/%d/%Y').isin(prev_dates)) & (df['Account Name'] == df.loc[i, 'Account Name'])]
    
    # Pivot the previous entries to get the amounts by category
    pivot_table = prev_entries.pivot_table(values='Amount', index='Account Name', columns='Category', aggfunc='sum')
    
    # Add the pivot table to the new dataframe
    new_df = new_df.append(pivot_table, ignore_index=True)

# Add the columns for the account name and date to the new dataframe
new_df.insert(0, 'Account Name', df['Account Name'])
new_df.insert(1, 'Date', df['Date'])

# Fill any missing values with 0
new_df = new_df.fillna(0)

AttributeError: 'DataFrame' object has no attribute 'append'

In [60]:
import pickle

for key , value in models.items():
    filename = key+'_model.pkl'
    with open(filename, 'wb') as file:
        pickle.dump(value, file)